@import "reset";

* {
  font-family: 'Courier New', Courier, monospace;
}


body {
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.container {
  width: 1000px;
  margin: auto;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: gray;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

p {
  text-align: justify;
}

.display {
  margin: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1fr;

  img {
    width: 250px;
    border-radius: 0.5rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: rgb(61, 60, 60);
  }
}

.about {
  text-align: left;

  img {
    width: 200px;
  }
}

.timing {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(223, 221, 221);
  border-radius: 5px;
  border: none;
  margin: 0px !important;
}

hr {
  border: 1px solid rgb(223, 221, 221);
}

input {
  padding: 5px;
  margin: 5px;
  width: 40%;
  font-size: 20px;
}